@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  background: transparent;
  color: var(--text);
  border: none;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}